@{
    ViewData["Title"] = "Cambia password";
}

<div class="container-lg d-flex justify-content-center align-items-center">
    <div>
        <h1 class="text-center">Cambia password</h1>

        <div class="mb-3">
            <p class="text-md-center">Email</p>
        </div>
        <div class="mb-3 input-group container-md" style="max-width: 400px;">
            <span class="input-group-text"><i class="bi bi-envelope"></i></span>
            <input type="email" class="form-control" id="email" placeholder="Email">
        </div>

        <div class="mb-3">
            <p class="text-md-center">Nuova Password</p>
        </div>
        <div class="mb-3 input-group container-md" style="max-width: 400px;">
            <span class="input-group-text"><i class="bi bi-lock"></i></span>
            <input type="password" class="form-control" id="nuovaPassword" placeholder="Nuova Password">
        </div>

        <div class="mb-5 text-center">
            <button id="cambiaPasswordBtn" class="btn btn-primary" style="padding: 10px 20px; font-size: 16px;">
                Cambia Password
            </button>
        </div>
    </div>
</div>

        <script>

    $('#cambiaPasswordBtn').on('click', function () {


        var email = $('#email').val();
        var password = $('#nuovaPassword').val();

        if (email !== "" && password !== "") {

            $.ajax({
                url: '/api/Db/CambiaPassword',
                method: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({ email: email, password: password }),
                success: function (response) {
                    if (response) {
                        alert('Password Cambiata!');

                    } else {
                        alert('Errore durante il cambio password.');
                    }

                },

            });

        }
        else {
            
            alert('Inserisci tutti i campi');
        }

    });

        </script>